
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --message-box-background: #ffffff;
    --line-message-box-background: #ffffff;
    --md-sys-color-primary-container: #1d27b1;
    --md-sys-color-on-primary-container: #FFFFFF;
    --aulas-background: #1D27B1;
    --aulas-color: #FFFFFF;
    --noticias-color: #87A4DB;
    --background-color:#1D27B1;
    --body-color: #000000; 
    --card-color: #FFFFFF;
    --card-text-color: #000000;
}


body {
    background: var(--background-color);
    font-family: "Arimo", sans-serif;
    color: var(--body-color);
    font-size: 12px;
}

.container {
    width: auto;
    grid-column: 1 / 13;
    min-height: 100vh;
    margin: 16px auto;
    padding: 16px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 16px;
    background: var(--background-color);
}

header, .mensagens, .aulas {
    grid-column: 1 / 13;
    padding: 16px;
    border-radius: 15px;
}

header {
    background: #FFFFF;
}

.top-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-bottom: -20px;
}

    .top-icons span {
        font-size: 40px;
        cursor: pointer;
    }
    
.mensagens .material-symbols-outlined,
.aulas .material-symbols-outlined,
#carousel-container .material-symbols-outlined,
.comp-aula .material-symbols-outlined {
    color: #1D27B1; /* azul Inatel */
}


.logo {
    width: 10px;
    height: 30px;
    position: absolute;
    top: px;
    left: 100px;
}

.svg_logo_inatel {
    overflow: visible;
    display: block;
    width: 100%;
    height: auto;
    max-width: 100px;
    fill: #ffffff; 
}

.path_logo {
    stroke: none;
    fill: #ffffff; 
}

header h1 {
    font-size: 16px;
    margin-left: 16px;
}

.mensagem-boas-vindas {
    grid-column: 1 / 13;
    padding: 0 16px;
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    margin-top: 32px;
}
.mensagem-boas-vindas h1 {
    white-space: nowrap;
}

.material-symbols-outlined {
    color: #ffffff; 
}

.icone-box {
    color: #1D27B1;
}

.mensagens,
.aulas,
.carousel-wrapper {
  margin-bottom: 24px; /* ou 32px se quiser mais espaçado */
}


.mensagens {
    grid-column: 1 / 13;
    background: var(--message-box-background);
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.linha-mensagem {
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
    background: var(--line-message-box-background);
    padding: 8px;
    min-height: 20px;
    border-radius: 15px;
}

.aulas {
    grid-column: 1 / 13;
    width: 100%;
    display: contents;
}

aulas-component {
  display: block;
  grid-column: 1 / 13;
  width: 100%;
  box-sizing: border-box;
}

.carousel-wrapper {
    grid-column: 1 / 13;
    width: 100%;
}

#carousel-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    grid-column: 1 / 13;
    color: (--aulas-color);
}

/* Esse é o carrossel deslizante */
.carousel {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
    color: var(--aulas-color);
}

/* Cada card ocupa o tamanho da tela (container do carrossel) */
.card {
    flex: 0 0 100%; /* Isso é essencial! */
    height: 100%;
    text-align: center;
    background-color: var(--card-color);
    color: var(--card-text-color);
    overflow: hidden;
}

    .card img {
        width: 100%;
        max-height: 160px; /* ajuste conforme o espaço que quer reservar pra imagem */
        object-fit: cover;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

.info {
    padding: 10px;
    text-align: center;
    width: 100%;
    font-size: 13px;
    line-height: 1.4;
    color: var(--card-text-color);
}

    .info h3 {
        font-size: 18px;
        margin-bottom: 8px;
        color: var(--card-text-color);
    }


.icon-conteudo {
    vertical-align: middle;
    margin-right: 3px;
    fill:#1D27B1;
}

.linha-icones {
    display: flex;
    justify-content: center;      /* CENTRALIZA horizontalmente */
    align-items: center;          /* ALINHA verticalmente */
    gap: 12px;
    flex-wrap: wrap;
    font-size: 14px;
    margin: 8px 0 0 0;
    text-align: center; /* Garante centralização mesmo se quebrar */
}


.linha-icones .material-symbols-outlined {
    font-size: 20px;
    vertical-align: middle;
    color: #1D27B1;
}



.box-pequena {
    width: 50px;
    height: 50px;
    border: 2px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
    font-weight: bold;
}

.theme-menu {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.5);
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    z-index: 10;
    padding: 20px;
}

    .theme-menu button {
        background-color: #316BE8;
        color: #03045e;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        margin: 5px;
        cursor: pointer;
    }

        .theme-menu button:hover {
            background-color: #00b4d8;
        }

#prevBtn,
#nextBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    padding: 3px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 20%;
    color: var(--body-color);
}

#prevBtn {
    left: 10px;
}

#nextBtn {
    right: 10px;
}


.content {
    padding: 20px;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.inatel {
    background-color: #03045e;
    color: #fff;
}


